.texto{
color: #242a30;
font-size: 16px;
}


.textotitulo{
color: #432764;
}


.fondotitulo{
background-color: #eff2ef;
}


.texto2{
color: #242a30;
font-size: 11px;
}


.texto3{
color: #242a30;
font-size: 9px;
}


.tarjetita{ 
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.dentro{
    background-color: white;
    padding: 10px;
}

.barrafiltro{
 background-color: #432764;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.detalles{
  background-color: #e0e5e3;
  padding: 5px;
  border-radius: 10px;
 }

.filtro{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    padding-left: 15px;
}

.pad{
  padding-left: 150px;
  padding-right: 150px;
}

.textoindi1{
font-family: sans-serif;
font-size: 12px;
color: black;
font-weight: bold;
}

.textoindi3{
  font-family: sans-serif;
  font-size: 9px;
  color: black;
  font-weight: bold;
  text-align: left;
  }

  .textoindi4{
    font-family: sans-serif;
    font-size: 9px;
    color: black;
    text-align: left;
    }

.textoindi2{
  font-family: sans-serif;
  font-size: 10px;
  color: black;
  }

.blanca1{
  color: white;
}

.textoindi5{
  font-family: sans-serif;
  font-size: 10px;
  color: white;
  font-weight: bold;
  text-align: left;
  }

  .textoindi6{
    font-family: sans-serif;
    font-size: 10px;
    color: white;
    text-align: left;
    }